
.default_table_serch_box{
    background: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    :global{
        .ant-form-item-control-wrapper{
            flex: 1 1;
            display: inline-block;
            vertical-align: top;
        }
    }
}

.default_table_box{
    background: #ffffff;
}

