
.default_table_serch_box{
    background: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    :global{
        .ant-form-item-control-wrapper{
            flex: 1 1;
            display: inline-block;
            vertical-align: top;
        }
    }
}
// 可伸缩列表样式
:global{
      .react-resizable {
        position: relative;
        background-clip: padding-box;
      }
      
    .react-resizable-handle {
        position: absolute;
        width: 10px;
        height: 100%;
        bottom: 0;
        right: -5px;
        cursor: col-resize;
        z-index: 1;
      }
}



.default_operation_box{
    background: #ffffff;
    padding: 10px 0;
}
.default_table_box{
    background: #ffffff;
}


.form_title{
    border-left: 3px solid #52b7b4;
}

.tabs{
    vertical-align: top;
    height: 40px;
    background: #fff;
    padding-top: 10px;
    padding-left: 20px;
    .status_item_select{
        color:#52b7b4;
        background: #409eff26;
        float: left;
        // margin-right: 15px;
        line-height: 28px;
        text-align: center;
        padding: 0 30px;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 4px;
    }
    .status_item{
        float: left;
        // margin-right: 15px;
        line-height: 28px;
        text-align: center;
        padding: 0 30px;
        border: 1px solid #fff;
        color: #606266;
        cursor: pointer;
        border-radius: 4px;
    }
}
.logisticsButton{
  background-color:#52b7b4;
  color:#fff;
  margin-left: 10px;
  border-color: #52b7b4;
  padding:0 10px;
}
.checkbox{
  margin-top: 20px;
}
