<!DOCTYPE html>
<html lang="zh">
  
<head>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?5c1c39864620728f8297ba73d492ebf9";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
  />
  <title>跟单宝-管理系统</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body>
  <div style="display: none">
    <script type="text/javascript" src="https://v1.cnzz.com/z_stat.php?id=1279385940&web_id=1279385940"></script>
  </div>
<noscript>Sorry, we need js to run correctly!</noscript>
<div id="root"></div>
</body>
</html>
